apiVersion: v2
name: grpc-event-stream
description: A Helm chart for Kubernetes
type: application

version: 0.1.0

dependencies:
  - name: order-service
    repository: file://charts/order-service
    version: 0.1.0
    condition: order-service.enabled
  - name: payment-service
    repository: file://charts/payment-service
    version: 0.1.0
    condition: payment-service.enabled
  - name: gateway
    repository: file://charts/gateway
    version: 0.1.0
    condition: gateway.enabled
  - name: nats
    repository: https://nats-io.github.io/k8s/helm/charts/
    version: 0.19.3
    condition: nats.enabled