name: Go

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ^1.22

    - name: Go lint
      run: go vet ./...

    - name: Go mod download
      run: go mod download

    - name: Go Build
      run: | 
        mkdir ./build/bin
        go build -ldflags="-s -w" -o=./build/bin/. ./cmd/...
